body{
    font-family:'Montserrat', sans-serif;
}
.section--pink{
    padding: 0px 120px;
    background-color: #FFF5F0;
}

.menu-bar{
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 30% 42% 28%;
    font-weight: 700;
    /* font-family:Montserrat; */
    align-items: center;
}


.menu-bar__section--text-big{
    font-size: 28px;
    color: #252B42;
    padding-left: 60px;

}
.menu-bar__section--text-muted{
    display: flex;
    column-gap: 28px;
    color: #737373;
}

.button{
    font-size: 13px;
    align-items: center;
    border:none;
    border-radius: 5px;
    background: transparent;
    padding: 17px 30px;
    color: #1BA0AB;
    font-weight: 700;
    letter-spacing: 1px;
    height: 100%;

}
.button--uppercase{
    text-transform: uppercase;
}
.button--blue{
    background-color: #1BA0AB;
    color:white;
}
.button--border{
    border: 1.5px solid #1BA0AB;
}
.welcome{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 660px;
}

.welcome__text--big{
    font-size: 58px;
    line-height: 80px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #252B42;
}
.welcome label{
    display: block;
}
.welcome__text--muted, .doctor__text--muted{
    font-weight: 400;
    font-size: 20px;
    color: #737373;
    padding: 20px 0px;
}

.doctor__text--muted{
    font-size: 16px;
}

.welcome__text--blue{
    color: #1BA0AB;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding-bottom: 25px;
    font-size: 16px;
}


.doctor{
    padding: 80px;
    display: grid;
    grid-template-columns: 60% 40%;
}
.doctor__text{
    display: grid;
    align-items: center;
    padding:80px;


}
.doctor__hr{
    width: 90px;
    height: 6px;
    border: none;
    margin-left: 0px;
    background: #E74040;
    margin: 30px 5px;
}
.doctor__text--big
{
    font-size: 28px;
    
}
.text--padded{
    padding: 12px 0px;
}
.text--bold{
    font-weight: 700;
}

.text--muted{
    color: #737373;
}
.doctor__text--muted{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #737373;
}
.doctor__image{
    display: grid;
    justify-items: right;
}

.teams{
    margin: 7rem 7.3rem;
}

.teams__text{
    width: 50%;
       
}
.teams__text label{
    display: block;
}
.teams__images{
    display: flex;
    gap: 1rem;   
    margin-top: 40px;
    
}
.teams__div{
    display: flex;
    gap: 3px;
    gap: 1rem;

}
.card{
    border: none;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    display: grid;
    row-gap: 12px;
    padding: 0px 0px 25px 0px;

}


.card__image{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 5px;
}

.card__name, .card__proffesion{
    display: block;
    margin: 0px auto;
}
.card__socials{
    display: flex;
    justify-content: center;
    gap: 18px;
}

.card__socials img{
    width: 18px ;
}

.card__proffesion{
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.8px;
}
.footer{
    background-color: #FFF5F0;
    display: grid;
    height: 550px;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.footer__text{
    width: 50%;
    text-align: center;
}
.footer__form{
    display: grid;
    grid-template-columns: 75% 25%;
    width: 500px;
    height: 50px;
}
.footer__input{
    height: 98%;
    border: 0.5px solid lightgray;
    padding: 0px 15px;
    border-radius: 5px 0px 0px 5px;
}
.footer__button{
    border-radius: 0;
    margin: 0px ;

}
.menu-bar__bottom{
    display: none;
    width: 50%;
    margin: 2rem auto;
}
::placeholder
{
    font-weight: 550;
    font-size: 14px;
    color: #737373;
}

@media only screen and (max-width: 768px) 
{
    body{
        background-color: #FFF5F0;
    }
    .section--pink{
        padding: 30px 5px;
    }
    .menu-bar{
        grid-template-columns: 50% 50%;
    }
    .menu-bar__links{
        display: none;
    }
    .welcome{
        display: inline-block;
    }
    .welcome__empty{
        display: none;
    }
    .welcome__text--big{
        font-size: 25px;
        line-height: 35px;
    }
    .text--padded{
        padding: 3px 0px;
    }
    .welcome__text--big-in-sm{
        margin-top: 40px;
        font-size: 40px;
        line-height: 55px;
    }
    .section--pink{
        padding: 30px 10px;
        height: 250px;
    }
    .welcome__buttons{
        display: none;
    }
    .doctor{
        padding: 0;
        margin-top: 30px;
        grid-template-columns: 40% 60%;
        gap:0;

    }
    .doctor__image{
        justify-items: left;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .doctor__image--1{
        width: 100%;
        height: 100%;
    }
    .doctor__text{
        padding: 0px;
        align-items: top;
    }
    .teams__text{
        width: 100%;

    }
    .teams{
        margin: 1rem ;
    }
    .teams__images{
        display: grid;
    }
    .footer{
        height: 100%;
        padding: 0;
    }
    .menu-bar__bottom{
        display: flex;
        color: black;
        font-weight: 700;
    }

}







